*{
    margin: 0px;
    padding: 0px;
}
body{
background-color: #111827;
}

/* for navigation bar  */

.navbar{
    margin: 20px;
    display: flex;
    justify-content: right;
   font-weight: 800;
    list-style: none;

   
}
.navbar li{
    margin-left: 10px;
    color: white;
}
header .forPhone{
  
    width: 20px;
    display: none;
}



/* for mid portion */
.firstMid{
    display: flex;
   justify-content: center;
   padding-top: 50px;
}
.firstMid .left {
   margin-top: 150px;
}
.firstMid .left .Hi p{
    margin-left: auto;
    font-size: x-large;
    color: white;
}
.firstMid .left .Hi img{
    float: left;

}
.name{
    font-weight: 900;
    font-size: xx-large;
    color: white;
}
.Dev{
    font-weight: 600;
    color: yellow;
}

.ProjectHeading .underline{
    background-color: blue;
    height:3px ;
    width: 85px;
    margin: auto;
   
}

.ProjectHeading{
    margin-top: 50px;
     text-align: center;
     color: white;


}

.firstTwoImage{
    display: flex;
    justify-content: center;
}
.firstTwoImage div{
    margin-left: 5px;
    margin-right: 5px;
}
.ProjectName{
    display: flex;
    justify-content: center;

}
.ProjectNameForPhone{
    display: none;
}
.ProjectName p{
    margin-left: 130px;
    margin-right: 130px;
    color: white;
}
.Contact{
    text-align: center;
    margin-top: 50px;
    font-size: x-large;
    font-weight: 900;
    color: white;
}
.Contact .underline{
    background-color: blue;
    height: 3px;
    width: 80px;
    margin: auto;
}
.bottom ul{
    margin-top: 10px;
    display: flex;
    justify-content: center;
   
    list-style: none;
}
.bottom ul li{
    margin-left: 5px;
    margin-right: 5px;
}





/* meida querry apply */
@media only screen and (max-width: 576px){

header .navbar{
    display: none;
}
header .forPhone{
    margin-left: 10px;
    margin-top: 10px;
    display: block;
  
}


.firstMid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;

}
 .firstMid .left{
    margin-top: 0px;
    text-align: center;
   
}
.firstMid .left .Hi img{
    width: 50px;
    height: auto;
    float: none;

   
}
.firstMid .left .Hi{
    text-align: center;
}
.ProjectHeading{
    margin-top: 150px;
     text-align: center;
     color: white;
     font-size: 30px;


}
.ProjectHeading .underline{
    
    height:3px ;
    width: 165px;
    margin: auto;
   
}

.firstTwoImage{
   display: flex;
   flex-direction: column;
   text-align: center;
}
.ProjectName{
  display: none;

}
.ProjectNameForPhone{
    display: block;
    color: white;
    text-align: center;
}
.Contact{
 font-size: 40px;
 text-align: center;
}
.Contact .underline{
    width: 140px;
}
.bottom img{
    width: 30px;
    height: auto;

}

}